<div class="header-content container">
  <div class="header-navbar__left">
    <div class="logo-menu">
      <img src="../../../assets/img/Ticon.PNG" alt="" class="logo-img__menu"/>
    </div>
    <ul class="navbar-items">
      <a href=""> <li class="navbar-items__home"> Home</li> </a>
       <a href=""> <li>Destino</li> </a>
      <a href=""> <li>Perto de mim</li></a>
      <a href=""><li>Eventos</li></a>
      <a href=""><li>Blog</li></a>
      <a href=""><li>Galeria</li></a>
      <a href=""><li>Sobre</li></a>
      <a href=""><li>Contato</li></a>
    </ul>
  </div>
  <div class="header-navbar__right">
    <ul class="navbar-items__right">
      <a href=""><li class="navbar-login"> Logar</li></a>
      <a href=""><li class="navbar-register"> Cadastrar</li></a>
    </ul>
  </div>
<div class="img-menuApp"><img class="logo-app" src="../../../assets/img/menu.svg" alt=""></div>
</div>
