<div class="contact">
  <div class="contact-text">
    <h2>Vamos ficar em contato </h2>
    <p>Obtenha ideias de planejamento de viagens, dicas úteis e histórias de nossos visitantes diretamente na sua caixa de entrada.</p>
    <div class="input-text">
      <span class="mail-icon"><img src="../../../assets/img/mail.svg" alt=""></span>
      <input type="text " placeholder="Insira seu e-mail"/>
      <span class="send-icon"><img src="../../../assets/img/send.svg" alt=""></span>
    </div>
  </div>
  <div class="contact-icon">
    <img src="../../../assets/img/tent.svg" alt="">
  </div>
</div>
