<div class="attractive container">
  <div class="attractive-card">
    <img src="../../../assets/img/bonfire.svg" alt="" class="card-logo__camp">
    <h3 class="card-title"> Acampamento</h3>
    <p class="card-description">Descubra um novo que seja certo para você.</p>
  </div>
  <div class="attractive-card">
    <img src="../../../assets/img/tickets.svg" alt="" class="card-logo__tickets">
    <h3 class="card-title">Passeios e ingressos</h3>
    <p class="card-description">Reserve passeios e ingressos para participar de eventos.</p>
  </div>
  <div class="attractive-card">
    <img src="../../../assets/img/filled outline.svg" alt="" class="card-logo__filled">
    <h3 class="card-title">Permissões</h3>
    <p class="card-description">Obtenha licenças de acesso a locais de alta demanda.</p>
  </div>
  <div class="attractive-card">
    <img src="../../../assets/img/fishing.svg" alt="" class="card-logo__fishing">
    <h3 class="card-title">Atividades Recreativas</h3>
    <p class="card-description">Encontre os melhores locais recreativo.</p>
  </div>
</div>
