<div class="header-total">
  <app-navbar></app-navbar>
  <div class="header-description">
    <div class="header-description__title">
      <p> Encontre-se do lado de fora</p>
    </div>
    <div class="header-description__text">
      <p>Reserve experiências de acampamento exclusivas em mais de 300.000 acampamentos, cabines, parques para trailers, parques públicos e muito mais.</p>
    </div>
    <div class="header-description__button">
      <a href=""> Descobrir</a>
    </div>
  </div>
</div>
